.place__title {
  font-size: 4.5em;
  line-height: 76px;
  padding: 0;
  margin: 0 40px 0 0;
}

@media screen and (max-width: 768px) {
  .place__title {
    margin: 0;
    font-size: 2.6em;
    line-height: 46px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 2.2em;
    line-height: 40px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 2em;
    line-height: 35px;
    margin: 0 16px;
  }
}
