.photo-grid__gallery {
	max-width: 1184px;
	min-width: 288px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

@media screen and (max-width: 1279px) {
	.photo-grid__gallery {
		max-width: 928px;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1023px) {
	.photo-grid__gallery {
		max-width: 720px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 264px;
		gap: 14px;
	}
}

@media screen and (max-width: 767px) {
	.photo-grid__gallery {
		grid-template-columns: 1fr;
		grid-template-rows: 216px;
		margin: 0 12px;
		gap: 9px;
	}
}

@media screen and (max-width: 320px) {
	.photo-grid__gallery {
		max-width: 288px;
		margin: 0 auto;
		gap: 9px;
	}
}
