.footer__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 320px) {
  .footer__links {
    min-width: 288px;
    flex-direction: column;
    margin: 0 0 54px;
    gap: 32px
  }
}
