.place__paragraph {
  box-sizing: content-box;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 1em;
    line-height: 163%;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
    margin: 0 16px;
  }
}
