.intro {
  max-width: 690px;
  min-width: 288px;
  margin: 90px 0 0 148px;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 90px 0 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 356px) {
  .intro {
    margin: 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    margin: 0 auto 0;
  }
}
