.cover__title {
  max-width: 560px;
  font-size: 4.5em;
  line-height: 76px;
  text-align: center;
  margin: 0 auto 0;
}
@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 3em;
    line-height: 46px;
  }
}
@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 254px;
    font-size: 2em;
    line-height: 35px;
    margin: 0 auto;
  }
}
