.intro__title {
  font-size: 54px;
  line-height: 58px;
  text-align: left;
  margin: 92px 0 0;
}

@media screen and (max-width: 520px) {
  .intro__title {
    max-width: 100%;
    font-size: 50px;
    line-height: 58px;
    margin: 48px auto 16px;
  }
}
@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 46px;
    line-height: 52px;
    margin: 48px auto 16px;
  }
}

@media screen and (max-width: 352px) {
  .intro__title {
    font-size: 38px;
    line-height: 42px;
    margin: 48px auto 16px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    width: auto;
    font-size: 32px;
    line-height: 35px;
    margin: 64px 0 0;
  }
}
